/*CUSTOM FONTS*/
@font-face{
	font-family: 'ProximaNova';
	src:url(../fonts/proxima-nova-bold.otf);
	font-weight: bold;
}

@font-face{
	font-family: 'ProximaNova';
	src:url(../fonts/proxima-nova-regular.otf);
	font-weight: normal;
}
/*END CUSTOM FONTS*/
body{
	background: #291F5B;
	color: #fff;
	font-family: 'ProximaNova';
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'ProximaNova';
	font-weight: bold;
}

#logo{
	width: 150px;
}

.hero{
	background-image: url(../img/fondo_landing.png);
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat; 
}

.hero__logo{
	width: 150px;
}

.hero__top{
	margin-top: 1em;
}

.hero__content{
	margin-top: 10em;
	margin-bottom: 10em;
}

.hero__nav ul{
	color:#fff;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.hero__nav ul li{
	margin-left: 20px;
}

.hero__nav ul a{
	color: #fff;
}

.hero__instructor{
	font-weight: normal;
	opacity: 0.5;
}

.hero__course{
	padding: 10px;
	color: #fff;
	background: #4A5CFF;
	text-align: center;
	width: 150px;
}

.hero__explore{
	color: #fff;
	padding: 10px;
	border:solid 1px #fff;
	width: 150px;
	text-align: center;
	margin-left: 40px;
}

.courses{
	margin-top: -2em;
}

.course__item{
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;

}

.courses__title{
	position: absolute;
	bottom: 0;
	left: 20px;
	z-index: 1;
}

.courses__title h2{
	margin-bottom: 0;
}

.course__item:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 3%, black);
	background: -o-linear-gradient(rgba(255,255,255,0) 3%, black);
	background: linear-gradient(rgba(255,255,255,0) 3%, black);
}

.icon__course{
	background: url('../img/icons/iconos_landing.png') no-repeat -6px -11px;
	width: 40px;
	height: 38px;
	margin-bottom: 10px;
}

.icon__device{
	background: url('../img/icons/iconos_landing.png') no-repeat -63px -11px;
	width: 50px;
	height: 39px;
	margin-bottom: 10px;
}

.icon__certificate{
	background: url('../img/icons/iconos_landing.png') no-repeat -130px -8px;
	width: 44px;
	height: 44px;
	margin-bottom: 10px;
}

/*COURSE LARGE*/

.course__item--large{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;

}

.course__item--large:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 3%, black);
	background: -o-linear-gradient(rgba(255,255,255,0) 3%, black);
	background: linear-gradient(rgba(255,255,255,0) 3%, black);
}


/*TESTIMONIALES*/

.testimonial__card{
	background: #fff;
	color: #291F5B;
	padding-top: 20px;
}
